@import url(./_type/popup__slider-container_type_schedule.css);
@import url(./_type/popup__slider-container_type_price.css);

.popup__slider-container {
  background-color: #FFF9F9;
  margin: 0 50px;
  padding: 30px;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
}

@media all and (max-width: 599px) {
	.popup__slider-container {
    padding: 20px;
  }
}

@media all and (max-width: 374px) {
	.popup__slider-container {
    margin: 0 40px;
  }
}
