.popup__slider-container {
  position: relative;
  background-color: #FFF9F9;
  margin: 0 50px;
  padding: 30px 30px;
  max-height: 80vh;
  max-width: 565px;
}

@media all and (max-width: 767px) {
	.popup__slider-container {
    max-width: 450px;
  }
}
