.footer__column_content_contraindications {
  justify-content: space-between;
  border-left: none;
  margin-right: auto;
  padding-right: 30px;
}

@media all and (max-width: 1023px) {
	.footer__column_content_contraindications {
    padding-right: 20px;
  }
}
