.footer__column_content_social {
  border-left: 1px solid #FFF9F9;
  padding: 15px 10px 15px 30px;
}

@media all and (max-width: 1023px) {
	.footer__column_content_social {
    padding: 15px 10px 15px 20px;
  }
}

@media all and (max-width: 800px) {
	.footer__column_content_social {
    padding: 15px 0 15px 15px;
  }
}

@media all and (max-width: 767px) {
	.footer__column_content_social {
    border-left: 0;
    border-bottom: 1px solid #FFF9F9;
  }
}
