@import url(./_active/popup__radio-btn_active.css);
@import url(./_inactive/popup__radio-btn_inactive.css);

.popup__radio-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: .2s linear;
}

.popup__radio-btn:hover {
  opacity: .5;
}

@media all and (max-width: 767px) {
	.popup__radio-btn {
    width: 30px;
    height: 30px;
  }
}

@media all and (max-width: 425px) {
	.popup__radio-btn {
    width: 20px;
    height: 20px;
  }
}
