.contacts_size_middle {
  border-top: 1px solid #544D4D;
  margin: 20px 40px 0;
  padding: 30px 0;
  align-items: center;
}

@media all and (max-width: 1023px) {
	.contacts_size_middle {
    margin: 20px 20px 0;
  }
}

@media all and (max-width: 589px) {
	.contacts_size_middle {
    padding: 20px 0;
  }
}