@import url(./_type/procedures__card-photo_type_description.css);
@import url(./_type/procedures__card-photo_type_gallery.css);
@import url(./_position/procedures__card-photo_position_massage-focus.css);
@import url(./_position/procedures__card-photo_position_hydrotherapy-focus.css);
@import url(./_position/procedures__card-photo_position_bailoterapia-focus.css);
@import url(./_position/procedures__card-photo_position_defectologist-focus.css);
@import url(./_position/procedures__card-photo_position_bioacoustic-correction-focus.css);
@import url(./_position/procedures__card-photo_position_mud-applications-focus.css);
@import url(./_position/procedures__card-photo_position_1-focus.css);
@import url(./_position/procedures__card-photo_position_6-focus.css);
@import url(./_position/procedures__card-photo_position_7-focus.css);
@import url(./_position/procedures__card-photo_position_12-focus.css);
@import url(./_position/procedures__card-photo_position_13-focus.css);
@import url(./_position/procedures__card-photo_position_18-focus.css);
@import url(./_position/procedures__card-photo_position_19-focus.css);

.procedures__card-photo {
  width: 100%;
  transition: .2s linear;
}

@media all and (max-width: 833px) {
	.procedures__card-photo {
    height: calc(280 / 220 * (100vw - 80px) / 3);
    object-fit: cover;
  }
}

@media all and (max-width: 599px) {
	.procedures__card-photo {
    height: calc(280 / 220 * (100vw - 60px) / 2);
  }
}

@media all and (max-width: 424px) {
	.procedures__card-photo {
    height: calc(280 / 220 * (100vw - 50px) / 2);
  }
}

@media all and (max-width: 374px) {
	.procedures__card-photo {
    height: calc(280 / 220 * (100vw - 40px));
  }
}
