.popup__slider-container_type_price {
  max-width: 1000px;
}

@media all and (max-width: 767px) {
	.popup__slider-container_type_price {
    max-width: 450px;
  }
}

@media all and (max-width: 599px) {
	.popup__slider-container_type_price {
    max-width: 330px;
  }
}

@media all and (max-width: 425px) {
	.popup__slider-container_type_price {
    max-width: 250px;
  }
}
