@import url(./_position/achievements__midlle-text_position_second-string.css);

.achievements__midlle-text {
  display: block;
  font-weight: normal;
  font-size: 32.75px;
  line-height: 41px;
}

@media all and (max-width: 1279px) {
	.achievements__midlle-text {
    font-size: 27.75px;
    line-height: 36px;
  }
}
