@import url(./_position/achievements__midlle-text_position_second-string.css);

.achievements__midlle-text {
  display: block;
  font-weight: normal;
  font-size: 32.75px;
  line-height: 41px;
  /* margin-bottom: 5px; */
}
