@import url(./_right/popup__slider-btn_right.css);
@import url(./_left/popup__slider-btn_left.css);

.popup__slider-btn {
  width: 40px;
  height: 84px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 43%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: .2s linear;
}

.popup__slider-btn:hover {
  opacity: .5;
}

@media all and (max-width: 767px) {
	.popup__slider-btn {
    width: 30px;
    height: 74px;
  }
}

@media all and (max-width: 599px) {
	.popup__slider-btn {
    top: 38%;
  }
}

@media all and (max-width: 425px) {
	.popup__slider-btn {
    width: 20px;
    height: 54px;
    top: 42%;
  }
}

@media all and (max-width: 374px) {
	.popup__slider-btn {
    top: 41%;
  }
}
