.popup__slider-btn {
  width: 40px;
  height: 84px;
  background-image: url(../../../images/popup__slider-btn_right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: 30px;
  top: 43%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: .2s linear;
}

.popup__slider-btn:hover {
  opacity: .5;
}

@media all and (max-width: 767px) {
	.popup__slider-btn {
    width: 30px;
    height: 74px;
  }
}
