.new-center__photo {
  border: solid #544D4D;
  border-width: 0 1px;
  padding: 10px;
}

@media all and (max-width: 833px) {
	.new-center__photo {
    max-width: 179px;
  }
}

@media all and (max-width: 674px) {
	.new-center__photo {
    max-width: 106px;
    padding: 5px;
  }
}

@media all and (max-width: 424px) {
	.new-center__photo {
    max-width: 96px;
    padding: 3px;
  }
}

@media all and (max-width: 374px) {
	.new-center__photo {
    max-width: 76px;
  }
}