@import url(./_position/achievements__list-item_position_left.css);
@import url(./_position/achievements__list-item_position_center.css);
@import url(./_position/achievements__list-item_position_right.css);
@import url(./_position/achievements__list-item_position_left-center.css);
@import url(./_position/achievements__list-item_position_right-center.css);
@import url(./_type/achievements__list-item_type_bubble.css);
@import url(./_type/achievements__list-item_type_link.css);

.achievements__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 270px;
  box-sizing: border-box;
}

@media all and (max-width: 1279px) {
	.achievements__list-item {
    width: 220px;
    height: 220px;
  }
}
