.header__logo {
  width: 65px;
  margin: 18px 10px 18px 40px;
}

@media all and (max-width: 1023px) {
	.header__logo {
    margin-left: 20px;
  }
}

@media all and (max-width: 480px) {
	.header__logo {
    width: 45px;
    margin-right: 5px;
  }
}
