.intro__wrapper {
  align-self: flex-end;
  margin: 0 20px 40px 0;
}

@media all and (max-width: 1164px) {
	.intro__wrapper {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 767px) {
	.intro__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
