.intro__title-tiny {
  font-weight: 500;
  max-width: 600px;
  font-size: 21.44px;
  line-height: 26px;
  margin: 0;
}

@media all and (max-width: 1164px) {
	.intro__title-tiny {
    max-width: 465px;
    font-size: 16.44px;
    line-height: 20px;
  }
}

@media all and (max-width: 968px) {
	.intro__title-tiny {
    max-width: 329px;
    font-size: 13.44px;
    line-height: 16px;
  }
}

@media all and (max-width: 767px) {
	.intro__title-tiny {
    max-width: 100%;
    text-align: center;
  }
}

@media all and (max-width: 480px) {
	.intro__title-tiny {
    font-size: 10.44px;
    line-height: 13px;
  }
}

@media all and (max-width: 381px) {
	.intro__title-tiny {
    font-size: 8.44px;
    line-height: 10px;
  }
}
