@import url(./_type/contacts__link_type_contact.css);
@import url(./_type/contacts__link_type_details.css);

.contacts__link {
  white-space: nowrap;
  font-weight: bold;
  color: #544D4D;
  transition: .2s linear;
  -webkit-tap-highlight-color: transparent;
}

.contacts__link:hover {
  opacity: .5;
}