@import url(./_position/popup__proc-text_position_top.css);
@import url(./_position/popup__proc-text_position_bottom.css);

.popup__proc-text {
  font-size: 18.75px;
  line-height: 23px;
}

@media all and (max-width: 589px) {
	.popup__proc-text {
    font-size: 14.75px;
    line-height: 18px;
    margin-bottom: 5px;
  }
}

@media all and (max-width: 375px) {
	.popup__proc-text {
    font-size: 12.75px;
    line-height: 16px;
  }
}
