.achievements__list {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  justify-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 40px;
  max-width: 1150px;
}

/* @media all and (max-width: 1229px) {
	.achievements__list {
    grid-template-columns: repeat(11, 1fr);
  }
} */
