@import url(./_closed/mobile-menu_closed.css);
@import url(./_opened/mobile-menu_opened.css);
@import url(./__list/mobile-menu__list.css);
@import url(./__list-item/mobile-menu__list-item.css);
@import url(./__link/mobile-menu__link.css);

.mobile-menu {
  display: none;
  position: absolute;
  background-color: #FFF9F9;
  border-radius: 5px;
  top: 95px;
  right: 85px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(84, 77, 77, .5);
}

@media all and (max-width: 767px) {
	.mobile-menu {
    display: block;
  }
}

@media all and (max-width: 480px) {
	.mobile-menu {
    top: 70px;
    right: 55px;
  }
}

@media all and (max-width: 350px) {
  .mobile-menu {
    right: 35px;
  }
}