.popup__slider-photo_type_schedule {
  width: 55%;
}

@media all and (max-width: 425px) {
	.popup__slider-photo_type_schedule {
    width: 65%;
  }
}

@media all and (max-width: 374px) {
	.popup__slider-photo_type_schedule {
    width: 75%;
  }
}
