.complex-info__list-item {
  font-size: 18.75px;
  line-height: 22px;
}

@media all and (max-width: 1439px) {
	.complex-info__list-item {
    font-size: 16.75px;
    line-height: 19px;
  }
}

@media all and (max-width: 1023px) {
	.complex-info__list-item {
    font-size: 12.75px;
    line-height: 15px;
  }
}
