.new-center__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF9F9;
  border-radius: 5px;
  margin: 20px 40px;
  padding: 20px;
}

@media all and (max-width: 1024px) {
	.new-center__container {
    margin: 15px 40px;
    padding: 15px;
  }
}

@media all and (max-width: 1023px) {
	.new-center__container {
    margin: 15px 20px;
  }
}

@media all and (max-width: 768px) {
	.new-center__container {
    margin: 10px 20px 15px;
    padding: 10px;
  }
}