@media all and (max-width: 1023px) {
	.footer__wrapper_content_logo {
    flex-direction: column;
    max-width: 172px;
  }
}

@media all and (max-width: 830px) {
	.footer__wrapper_content_logo {
    max-width: 145px;
  }
}


