@import url(./__logo/warning-card__logo.css);
@import url(./__list/warning-card__list.css);

.warning-card {
  display: flex;
  background-color: #FFF9F9;
  border-radius: 5px;
  margin: 20px 40px 30px;
  padding: 20px;
}

@media all and (max-width: 1023px) {
	.warning-card {
    margin: 20px 20px 30px;
  }
}

@media all and (max-width: 589px) {
	.warning-card {
    margin: 20px;
  }
}

@media all and (max-width: 320px) {
	.warning-card {
    padding: 10px;
  }
}