.our-contacts__logo_type_phone {
  width: 25px;
  height: 25px;
  margin-top: 3px;
  margin-right: 10px;
}

@media all and (max-width: 829px) {
	.our-contacts__logo_type_phone {
    margin-top: 4px;
  }
}

@media all and (max-width: 767px) {
	.our-contacts__logo_type_phone {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 7px;
  }
}

@media all and (max-width: 479px) {
	.our-contacts__logo_type_phone {
    margin-top: 2px;
  }
}

@media all and (max-width: 374px) {
	.our-contacts__logo_type_phone {
    width: 15px;
    height: 15px;
    margin-right: 6px;
  }
}