.our-contacts__logo_type_location {
  width: 25px;
  height: 25px;
  margin-right: 6px;
}

@media all and (max-width: 829px) {
	.our-contacts__logo_type_location {
    margin-top: 2px;
  }
}

@media all and (max-width: 767px) {
	.our-contacts__logo_type_location {
    width: 20px;
    height: 20px;
    margin-top: 1px;
    margin-right: 4px;
  }
}

@media all and (max-width: 630px) {
	.our-contacts__logo_type_location {
    align-self: flex-start;
    margin-right: 2px;
  }
}