.intro__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 75px;
  font-weight: bold;
  font-size: 21.44px;
  line-height: 26px;
  color: #FFF9F9;
  text-decoration: none;
  border-radius: 10px;
  background-color: #CB4F12;
  padding: 0;
  margin-top: 70px;
  -webkit-tap-highlight-color: transparent;
}

.intro__button:hover {
  background-color: #544D4D;
  transition: background-color .2s linear;
}

@media all and (max-width: 1164px) {
	.intro__button {
    width: 229px;
    height: 59px;
    font-size: 18.44px;
    line-height: 25px;
    margin-top: 45px;
  }
}

@media all and (max-width: 480px) {
	.intro__button {
    width: 115px;
    height: 25px;
    font-size: 9.44px;
    line-height: 13px;
    margin-top: 27px;
    border-radius: 5px;
  }
}

@media all and (max-width: 381px) {
	.intro__button {
    margin-top: 16px;
  }
}
