@import url(./__container/intro__container.css);
@import url(./__title/intro__title.css);
@import url(./__title-small/intro__title-small.css);
@import url(./__title-tiny/intro__title-tiny.css);
@import url(./__button/intro__button.css);
@import url(./__photo/intro__photo.css);

.intro {
  position: relative;
  background-image: url(../../images/intro.jpg);
  background-position: center;
  background-size: cover;
  padding: 59px 0 41px;
}
