.procedures__card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #FFF9F9;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin: 0;
  padding: 0 10px;
}

@media all and (max-width: 424px) {
  .procedures__card-title {
    padding: 0 5px;
  }
}

