@import url(./_font-weight/new-center__paragraph_font-weight_normal.css);
@import url(./_font-weight/new-center__paragraph_font-weight_bold.css);

.new-center__paragraph {
  font-size: 23.44px;
  line-height: 29px;
  background-color: #FFF9F9;
  border-radius: 5px;
}