@import url(./__photo/photo-cards__photo.css);
@import url(./__video/photo-cards__video.css);
@import url(./_location/photo-cards_location_video.css);
@import url(./_location/photo-cards_location_new-center.css);

.photo-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0;
  list-style: none;
  line-height: 0;
}

@media all and (max-width: 1024px) {
	.photo-cards {
    gap: 15px;
  }
}

@media all and (max-width: 768px) {
	.photo-cards {
    gap: 10px;
  }
}

@media all and (max-width: 579px) {
	.photo-cards {
    grid-template-columns: 1fr;
  }
}
