.our-contacts__list {
  display: flex;
  list-style: none;
  padding: 20px 0;
  border-bottom: 3px solid #544D4D;
  max-width: 790px;
  margin: 0 auto 40px;
  justify-content: space-between;
}

@media all and (max-width: 829px) {
	.our-contacts__list {
    max-width: 725px;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 767px) {
	.our-contacts__list {
    max-width: 590px;
    margin-bottom: 20px;
    border-bottom: 1px solid #544D4D;
    padding-bottom: 15px;
  }
}

@media all and (max-width: 630px) {
	.our-contacts__list {
    margin: 0 20px 20px;
  }
}

@media all and (max-width: 374px) {
	.our-contacts__list {
    padding-top: 15px;
    margin-bottom: 15px;
  }
}