/* main */
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/complex/complex.css);
@import url(../blocks/headline/headline.css);
@import url(../blocks/complex-info/complex-info.css);
@import url(../blocks/footer/footer.css);
/* procedures */
@import url(../blocks/procedures/procedures.css);
/* news-and-articles */
@import url(../blocks/news-and-articles/news-and-articles.css);
@import url(../blocks/text-cards/text-cards.css);
@import url(../blocks/show-more/show-more.css);
/* specialists */
@import url(../blocks/specialists/specialists.css);
@import url(../blocks/spec-cards/spec-cards.css);
@import url(../blocks/documents/documents.css);



/* header, section, footer, div, h1, h2, h3, img, p, a, ul, li, span, nav {
  border: 1px solid rgb(140, 0, 255);
} */

/*
orange-accent: #CB4F12
grey-background: #EDEDEB
white: #FFF9F9
black: #544D4D
*/

/* .header__phone-number:hover {
  opacity: .5;
  transition: opacity .2s linear;
} */
