@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/complex/complex.css);
@import url(../blocks/headline/headline.css);
@import url(../blocks/complex-info/complex-info.css);

/* header, section, footer, div, h1, h2, h3, img, p, a, ul, li, span, nav {
  border: 1px solid rgb(140, 0, 255);
} */

/* todo удалить лишние шрифты в финале */

/*
orange-accent: #CB4F12
grey-background: #EDEDEB
white: #FFF9F9
black: #544D4D
*/
