/* main */
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/complex/complex.css);
@import url(../blocks/headline/headline.css);
@import url(../blocks/complex-info/complex-info.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/flex-column-container/flex-column-container.css);
/* procedures */
@import url(../blocks/procedures/procedures.css);
/* news-and-articles */
@import url(../blocks/text-cards/text-cards.css);
@import url(../blocks/show-more/show-more.css);
/* specialists */
@import url(../blocks/specialists/specialists.css);
@import url(../blocks/spec-cards/spec-cards.css);
@import url(../blocks/documents/documents.css);
/* registration */
@import url(../blocks/registration/registration.css);
@import url(../blocks/form/form.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/warning-card/warning-card.css);
/* contacts */
@import url(../blocks/our-contacts/our-contacts.css);
@import url(../blocks/yandex-map/yandex-map.css);
/* new-center */
@import url(../blocks/new-center/new-center.css);
@import url(../blocks/photo-cards/photo-cards.css);






/*! Переделать блок headline и подпись к карточке процедур без дивов */
/*! В блоке headline сделать пэдинги по бокам 40px, а потом ширине 1023 и ниже 20px, проверить на всех блоках */


/*
orange-accent: #CB4F12
grey-background: #EDEDEB
white: #FFF9F9
black: #544D4D
*/

/* .header__phone-number:hover {
  opacity: .5;
  transition: opacity .2s linear;
} */
