.procedures__cards {
  list-style: none;
  padding: 0;
  line-height: 0;
  max-width: 940px;
  margin: 20px 40px;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media all and (max-width: 833px) {
	.procedures__cards {
    margin: 20px 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 599px) {
	.procedures__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 424px) {
	.procedures__cards {
    gap: 10px;
  }
}

@media all and (max-width: 374px) {
	.procedures__cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
