.popup__slider-btn_left {
  background-image: url(../../../../images/popup__slider-btn_left.svg);
  left: 80px;
}

@media all and (max-width: 599px) {
	.popup__slider-btn_left {
    left: 70px;
  }
}

@media all and (max-width: 374px) {
	.popup__slider-btn_left {
    left: 52px;
  }
}
