.popup__wrapper {
  display: flex;
  max-width: 100px;
  justify-content: space-between;
  margin: 0 auto;
}

@media all and (max-width: 767px) {
	.popup__wrapper {
    width: 80px;
  }
}

@media all and (max-width: 425px) {
	.popup__wrapper {
    width: 60px;
  }
}
