.popup__schedule-title {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 30px;
  text-align: center;
}

@media all and (max-width: 767px) {
	.popup__schedule-title {
    font-size: 20px;
    line-height: 26px;
  }
}

@media all and (max-width: 599px) {
	.popup__schedule-title {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 374px) {
	.popup__schedule-title {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}
