.intro__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  margin: 0;
  margin-left: -5px;
}

@media all and (max-width: 1164px) {
	.intro__title {
    font-size: 50px;
    line-height: 61px;
    margin-left: -4px;
  }
}

@media all and (max-width: 968px) {
	.intro__title {
    font-size: 39px;
    line-height: 48px;
    margin-left: -3px;
  }
}

@media all and (max-width: 767px) {
	.intro__title {
    margin-left: 0;
  }
}

@media all and (max-width: 480px) {
	.intro__title {
    font-size: 28px;
    line-height: 34px;
  }
}

@media all and (max-width: 381px) {
	.intro__title {
    font-size: 26px;
    line-height: 32px;
  }
}
